@import '/src/index.scss';

header {
    & .container {
        @include desktop {
            padding-top: $spacers-xxl;
            padding-bottom: $spacers-xxl;
        }
        @include desktop-max {
            padding-top: $spacers-xl;
            padding-bottom: 0;
        }

    }
    & .logotipo {
        @include desktop {
            margin-top: 0.25vw;
        }
        @include desktop-max {
            margin-top: -10px;
        }
    }
}

a:hover .logotipo {
    opacity: .6;
}

.social-media {
    @include desktop {
        @include base-flex(flex, space-between, center, column);
        height: 30vh;
    }
    @include desktop-max {
        @include base-flex(flex, space-between, center);
        position: fixed;
        z-index: 999;
        left: 0;
        bottom: 0;
        width: 100vw;
        background: $color-primary;
    }
    width: 100%;
    &__link {
        @include base-flex(flex, center, center);
        padding: $spacers-xl;
        width: 100%;
        height: 100%;
    }

}