@import '/src/index.scss';

.header-nav{
    @include desktop-max {
        transition: background-color .5s ease-in-out, height .25s ease-in-out;
        width: 100vw;
        position: fixed;
        right: 0;
        top: 0;
        z-index: 999;
        height: 0;
    }
    & .container {
        @include desktop {
            padding-top: $spacers-xxl;
            padding-bottom: $spacers-xxl;
        }
    }
    &.collapse {
        @include desktop-max {
            background-color: $color-primary;
            height: 100vh;
            & .container {
                height: 100%;
            }
            & .navbar {
                display: block;
                width: calc(100vw - 2rem);
                height: 100%;
                padding-bottom: $spacers-xxl;

                &__word {
                    width: auto;
                }
            }
        }
    }
    & .navbar {
        display: flex;
        height: 100%;
        width: 100%;
        @include desktop-max {
            display: none;
        }

        &__list {
            @include base-flex(flex, space-between, center, column);
            height: 100%;
            width: 100%;
        }
        &__item {
            display: flex;
            height: 100%;
            width: 100%;
        }
        &__link {
            display: flex;
            width: 100%;
            justify-content: center;
            align-items: center;
            padding: $spacers-m;
        }
        &__word {
            width: 0%;
            transition: width 0.2s ease-in-out;
            word-break: keep-all;
            white-space: nowrap;
            overflow: hidden;
        }
        &:hover .navbar__word {
            width: 100%;
        }
    }
}

#buttonMegaMenu {
    margin-left: auto;
    display: block;
    height: 50px;
    color: white;
    padding: 0;
    text-transform: uppercase;
    font-weight: 400;
    font-size: 0.6rem;
    @include desktop {
        display: none;
    }

    .line {
        display: block;
        background: white;
        height: 2px;
        width: 2.5rem;
        border-radius: 99px;
        &--top {
            transition: all .25s ease-in-out;
        }
        &--middle {
            transition: all .25s ease-in-out;
            margin: $spacers-m 0;
        }
        &--bottom {
            transition: all .25s ease-in-out;
        }
    }
    &[aria-expanded="true"] .line {
        &--top {
            transform: translateY(0.5rem) rotate(45deg);
        }
        &--middle {
            opacity: 0;
        }
        &--bottom {
            transform: translateY(-0.75rem) rotate(-45deg);
        }
    }
}